.header {
  text-align: center;
  margin-bottom: $baseline;
}

.header__title {
  display: inline;
  font-size: $fontsize4;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.header__siren {
  font-size: 50px;
  padding: 0 2rem;
  display: inline;
}
