.header {
  text-align: center;
  margin-bottom: $baseline;
}

.header__title {
  display: inline;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: $fontsize3;
  font-size: 8vw;
  @media (min-width: $medium) {
    font-size: $fontsize4;
  }
}

.header__siren {
  padding: 0 2rem;
  //display: inline;
  display: none;
  font-size: $fontsize3;
  @media (min-width: $medium) {
    font-size: $fontsize4;
  }
}
