.honi {
  background-color: #eeeeff;
}

.honi__analysis {
  margin-top: $baseline;
  //@include outer-container();
  display: flex;
}

.honi__meta {
  flex: 1 1 25%;
  //@include md-columns(6);
  //@include lg-columns(3);
}

.honi__standfirst {
  flex: 1 1 75%;
  //@include md-columns(6);
  //@include lg-columns(9);
}

.honi__summary {
  margin-top: $baseline;
}

.honi__breakdown-title {
  @include section-title;
}

.honi__footnotes {
  @include small-text;
}
