.meta {
  background-color: $brand-grey-light;
  text-align: center;
  padding: 1rem; //standardise pls (with liveblog)
  margin-right: $baseline/2;
}

.meta__booths,
.meta__turnout {
  display: block;
  font-weight: bold;
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  font-size: $fontsize3;
  @media (min-width: $medium) {
    font-size: $fontsize4;
  }
}

.meta__smalltext {
  display: block;
  margin: 0;
  padding: 0;
}
