.pres {
}

.pres__candidates {
  display: flex;
  flex-direction: row;
}

.pres__candidate {
  flex: 0 0 50%;
}


.pres__candidate-copy {
  width: 100%;
  float: right;
}

.pres__candidate-copy--left {
  text-align: left;
  @media (min-width:580px) {
    width: 50%;
    float: right;
  }
}

.pres__candidate-copy--right {
  text-align: right;
  @media (min-width:580px) {
    width: 50%;
    float: left;
  }
}

.pres__candidate-name {

  font-weight: bold;
  //text-transform: uppercase;
  font-size: $fontsize2;
  font-family: $font-family-sans-serif;
  @media (min-width:580px) { // weird breakpoint to stop floating pres pics
    margin: 5rem 0 0 0;
    padding: 0;
  }
}

.pres__candidate-faction {
  @include small-text;
}
.pres__candidate-brand {
  @include small-text;

  &:before {
    content: " // ";
  }
}

.pres__photo-wrapper {
  height: auto;
  width: 50%;
  float: left;
}

.pres__photo-wrapper--left {
  float: left;
}

.pres__photo-wrapper--right {
  float: right;
}

.pres__photo {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.pres__summary {
  display: block;
  box-sizing: border-box;
}

.pres__summary-segment-label {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.pres__breakdown-title {
  @include section-title;
}

.pres__analysis {
  margin-top: $baseline;
  display: flex;
}
.pres__meta {
  flex: 1 1 25%;
}

.pres__standfirst {
  flex: 1 1 75%;
}

.pres__footnotes {
  @include small-text;
}
