.pres {
}

.pres__candidates {
  //@include outer-container()
  display: flex;
  flex-direction: row;
}

.pres__candidate {
  //@include sm-columns(6);
  flex: 0 0 50%;
}

.pres__candidate-copy {
  //@include sm-columns(6);
  width: 50%;
  float: left;
}

.pres__candidate-copy--right {
  text-align: right;
}

.pres__candidate-name {
  font-size: $fontsize2;
  font-weight: bold;
  //text-transform: uppercase;
  font-family: $font-family-sans-serif;
  margin: 5rem 0 0 0;
  padding: 0;
}

.pres__candidate-faction {
  @include small-text;
}
.pres__candidate-brand {
  @include small-text;

  &:before {
    content: " // ";
  }
}

.pres__photo-wrapper {
  height: auto;
  width: 50%;
  float: left;
  //@include sm-columns(6);
}

.pres__photo {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.pres__summary {
  display: block;
  box-sizing: border-box;
}

.pres__summary-segment-label {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.pres__breakdown-title {
  @include section-title;
}

.pres__analysis {
  margin-top: $baseline;
  //@include outer-container();
  display: flex;
}
.pres__meta {
  //@include md-columns(6);
  //@include lg-columns(3);
  flex: 1 1 25%;
}

.pres__standfirst {
  //@include md-columns(6);
  //@include lg-columns(9);
  flex: 1 1 75%;
}

.pres__footnotes {
  @include small-text;
}
