.tabs {
  text-align: center;
  //border-style: solid;
  //border-width: 1px 0;
  //border-color: $brand-grey;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: horizontal;
  max-width: 100%;
  & :first-child {
    border-right: 0;
  }
}

.tabs__tab {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  @include apparatus-sans;
  list-style: none;
  border: 1px solid $brand-grey;
  padding: $baseline/2;
  box-sizing: border-box;
}

.tabs__tab--current {
  font-weight: bold;
  background-color: $brand-grey-light;
}

.tabs__content {
  display: none;
}

.tabs__content--current {
  display: inherit;
}
