.updates {
  @media (min-width: $medium) {
    border: 1px solid $brand-grey;
    padding: $baseline;
  }
}

.updates__title {
  margin: 0;
  @include section-title;
}

.updates__entries-container {
  overflow-y: scroll;
}

.updates__entries {
  height: 400px;
}

.updates__entry {
  background-color: $brand-grey-light;
  padding: $baseline/2 $baseline;
  margin: $baseline 0;
}

.updates__heading {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: $fontsize2;
}

.updates__meta {
  @include apparatus-sans;
  color: $brand-grey-dark;
}

.updates__time,
.updates__author {
}

.updates__body {
  margin-top: $baseline;
  p {
    margin-top: $baseline;
  }
}
