.updates {
  border: 1px solid $brand-grey;
  padding: $baseline;
}

.updates__title {
  margin: 0;
  @include section-title;
}

.updates__entries-container {
}

.updates__entries {
  height: 400px;
  overflow-x: scroll;
}

.updates__entry {
  background-color: $brand-grey-light;
  padding: 5px 10px;
  margin: 10px 0;
}

.updates__heading {
  margin: 0;
  padding: 0;
  font-family: $font-family-serif;
  font-size: $fontsize2;
}

.updates__meta {
  @include apparatus-sans;
}

.updates__time,
.updates__author {
}
