body {
  font-family: $font-family-serif;
}

p {
  margin: 0 0 0 $baseline;
  padding: 0;
}

a {
  text-decoration: none;
  @include link-underline(white, black, blue, black);
}
/*
 * Typography
 */
@mixin small-text {
  font-size: 12px;
  line-height: 1.1;
  color: $brand-grey;
}

@mixin section-title {

}

/*
 * Layout of components
 */
.content {
  @include outer-container();
  //display: flex;
}

.content__results {
  @include md-columns(6);
  //flex: 1;
}

.content__updates {
  @include md-columns(6);
  //flex: 1;
}
