body {
  font-family: "Gotham";
}

p {
}

/*
 * Typography
 */
@mixin small-text {
  font-size: 12px;
  line-height: 1.1;
  color: $brand-grey;
}
/*
 * Layout of components
 */
.content {
  @include outer-container();
  //display: flex;
}

.content__results {
  @include md-columns(6);
  //flex: 1;
}

.content__updates {
  @include md-columns(6);
  //flex: 1;
}
