// Breakpoints
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

// Spacing
$baseline: 1rem;
$lineheight: 1.6;

// Typography
$font-family-serif: "Lora", Georgia, Times, serif;
$font-family-sans-serif: "Roboto", Helvetica, sans-serif;

$fontsize0: 0.8rem;
$fontsize1: 1rem;
$fontsize2: 1.25rem;
$fontsize3: 1.95rem; //skips one
$fontsize4: 3.05rem; //skips one

// Colors
$brand-grey: #ccc; //for lines
$brand-grey-light: #efefef; //for backgrounds
$brand-grey-dark: #666; //for text
$old-site-grey: #444;
$background-color: $old-site-grey;
