// Breakpoints
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

// Spacing
$baseline: 1rem;

// Typography
$font-family-serif: "Lora", Georgia, Times, serif;
$font-family-sans-serif: "Gotham", Helvetica, sans-serif;

// Colors
$brand-grey: #777;
$old-site-grey: #444;
$background-color: $old-site-grey;
