.header {
  text-align: center;
}

.content {
  width: 100%;
  float: left;
}

footer {
}

.results {
  width: 50%;
  float: left;
  padding-top: 0.5rem;
  border-top: 4px solid black;
}

.results__selector {
  padding: 0;
  margin: 0;
}

.selector {
  background-color: #888;
  padding: 0;
  margin: 0;
}

.selector__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.selector__list-item {
  display: inline;
  border-style: solid;
  border-color: black;
  border-width: 0 5px;
  padding: 5px;
  margin: 0;
}

.selector__link {
  padding: 0;
  margin: 0;
}

.updates {
  width: 50%;
  float: right;
  padding-top: 0.5rem;
  border-top: 4px solid black;
}

.updates__entries {
  height: 200px;
  overflow-x: scroll;
}

.updates__entry {
  background-color: #afafaf;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.updates__heading {
  font-size: 3rem;
  font-family: "GT Sectra";
  font-weight: 600;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.updates__time,
.updates__author {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #444;
}
