.results__wrapper {
  padding: 0;
  margin: 0;
}

.header__title {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
}

.candidate__name {
  font-family: "Helvetica", Arial, sans-serif;
  font-color: #fff;
}
